<p id="notice"><%= notice %></p>

<h2>Refusal</h2>
<h3>Search</h3>

<%= form_with url: refusals_find_path, local: true, method: 'get' do |f| %>
  <%= f.label:invoice_numb, 'Invoice Number:' %>
  <%= f.text_field :invoice_numb, id: :refusal_invoice_numb %>
  <%= f.submit "Submit" %>
<% end %>
